# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jake Nelson
	email = j.n@live.com.au
[init]
	defaultBranch = main
[push]
	followTags = true
[pull]
	rebase = false
[alias]
	wip = push --set-upstream origin not-58-add-more-information-to-countries-table -o merge_request.create -o merge_request.remove_source_branch -o merge_request.title=\"WIP: Merge not-58-add-more-information-to-countries-table\"
